{% extends "base.html" %}

{% block title %}Gallery | Toppers Academy{% endblock %}

{% block content %}
<h2>Gallery</h2>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">TOPPERS ACADEMY MATHS 10TH LECTURE</h5>
          <video width="100%" height="auto" controls class="gallery-video">
            <source src="/media/gallery/sanjay_minge_sir.mp4" type="video/mp4">
          </video>
      </div>
    </div>
  </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TOPPERS ACADEMY PHYSICS LECTURE</h5>
            <video width="100%" height="auto" controls class="gallery-video">
              <source src="/media/gallery/rahul_sir_teaching1.mp4" type="video/mp4">
            </video>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TOPPERS ACADEMY POLITICAL SCIENCE LECTURE</h5>
            <video width="100%" height="auto" controls class="gallery-video">
              <source src="/media/gallery/umesh_sir_teaching_video.mp4" type="video/mp4">
            </video>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TOPPERS ACADEMY CHEMISTRY LECTURE</h5>
            <video width="100%" height="auto" controls class="gallery-video">
              <source src="/media/gallery/patil_sir_teaching.mp4" type="video/mp4">
            </video>
        </div>
      </div>
    </div>
  <div style="gap: 10px; padding: 10px; background-color: #f2f2f2; border-radius: 8px;">
    <!-- Instagram Icon and Link -->
    <div style="display: flex; justify-content: center;">
      <a href="https://www.instagram.com/toppersacademyofscience/" target="_blank" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
      <i class="fab fa-instagram fa-2x" style="font-size: 48px; color: #E1306C;"></i>
    </a>
    </div>
    
    <!-- Text with Link -->
    <a href="https://www.instagram.com/toppersacademyofscience/" target="_blank" style="text-decoration: none; color: #000;">
      <div>For more videos, go to our Instagram handle <p style="color: #E1306C;">https://www.instagram.com/toppersacademyofscience/</p></div>
    </a>
  </div>
</div>
{% block extra_js %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const videos = document.querySelectorAll('.gallery-video');

    videos.forEach(video => {
      video.addEventListener('play', () => {
        videos.forEach(otherVideo => {
          if (otherVideo !== video) {
            otherVideo.pause();
          }
        });
      });
    });
  });
</script>

{% endblock %}
{% endblock %}
